<div class="heading-section">
  <div>
    <p class="heading-text">Employee Management System</p>
  </div>

  <div class="button-div">
    <button
      mat-raised-button
      color="primary"
      class="create-button"
      (click)="createEmployee()"
      title="add an employee to the list"
    >
      <mat-icon>add</mat-icon>
      Add
    </button>

    <button
      mat-raised-button
      color="warn"
      (click)="logout()"
      title="logout from the system"
    >
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</div>

<div [hidden]="totalDocs > 0" class="no-data-div">
  <img src="../../assets/no-data.avif" alt="" />
</div>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Search</mat-label>
  <input
    matInput
    [(ngModel)]="inputValue"
    (ngModelChange)="onSearch($event)"
    placeholder="Ex. Jhon Doe"
    value=""
  />
</mat-form-field>

<div [hidden]="totalDocs == 0">
  <table>
    <thead>
      <tr>
        <td>Employee ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Designation</td>
        <td>Salary</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of empList; let i = index">
        <td>
          <p>{{ employee.employee_id ? employee.employee_id : "--" }}</p>
        </td>
        <td>
          <p>{{ employee.name ? employee.name : "--" }}</p>
        </td>
        <td>
          <p>{{ employee.email ? employee.email : "--" }}</p>
        </td>
        <td>
          <p>{{ employee.phone ? employee.phone : "--" }}</p>
        </td>
        <td>
          <p>
            {{ employee.designation ? employee.designation : "--" }}
          </p>
        </td>
        <td>
          <p>{{ employee.salary ? employee.salary : "--" }}</p>
        </td>
        <td>
          <div class="action-div">
            <button
              (click)="editEmployee(i)"
              mat-stroked-button
              color="primary"
              class="button"
              title="edit an employee from the list"
            >
              <mat-icon class="icon">edit</mat-icon>
            </button>
            <button
              (click)="deleteEmployee(i)"
              mat-stroked-button
              color="warn"
              class="button"
              title="delete an employee from the list"
            >
              <mat-icon class="icon">delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          <mat-paginator
            #completedEntriesPaginator
            [pageSize]="10"
            (page)="pageEvent = onPaginationChange($event)"
            [pageSizeOptions]="[10, 25, 50, 100]"
            [length]="totalDocs"
          ></mat-paginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
