@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap");

.heading-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.heading-text {
  font-size: 2rem;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
}

.create-button {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: #0e1f82;
}

table {
  border: 1px solid red;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: auto;
  border-collapse: collapse;
}

table > thead > tr {
  text-align: center;
}

table > thead > tr > td {
  font-family: "Fira Sans Condensed", sans-serif;
  padding: 0.2rem;
  color: rgb(80, 80, 80);
  font-weight: 800;
  font-size: 0.7rem;
  background-color: #d8d8d8;
}

table > tbody > tr {
  text-align: center;
  transition: 0.2s;
}

table > tbody > tr > td > p {
  margin: 0;
  font-size: 0.7rem;
}

td {
  border: 1px solid #dddddd;
  // padding: 8px;
}

tr:hover {
  background-color: #dddddd;
}

.no-data-div {
  text-align: center;
}

.button-div {
  display: flex;
  gap: 1rem;
}

.action-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.action-div > button {
  width: 24px;
  height: 30px;
  text-align: center;
}

.icon {
  font-size: 17px;
}

.mat-form-field {
  display: block;
  width: 50%;
  margin: auto;
}
