<div class="heading-section">
  <div>
    <p class="heading-text">Employee Management System</p>
  </div>

  <div class="button-div">
    <button
      mat-raised-button
      color="primary"
      class="create-button"
      (click)="createEmployee()"
    >
      <mat-icon>add</mat-icon>
      Add
    </button>

    <button mat-raised-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</div>

<div [hidden]="totalDocs > 0" class="no-data-div">
  <img src="../../assets/no-data.avif" alt="" />
</div>

<div [hidden]="totalDocs == 0">
  <table>
    <thead>
      <tr>
        <td>Employee ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Designation</td>
        <td>Salary</td>
        <td>Edit</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of empList; let i = index">
        <td>{{ employee.employee_id ? employee.employee_id : "--" }}</td>
        <td>{{ employee.name ? employee.name : "--" }}</td>
        <td>{{ employee.email ? employee.email : "--" }}</td>
        <td>{{ employee.phone ? employee.phone : "--" }}</td>
        <td>{{ employee.designation ? employee.designation : "--" }}</td>
        <td>{{ employee.salary ? employee.salary : "--" }}</td>
        <td>
          <button
            (click)="editEmployee(i)"
            mat-raised-button
            color="primary"
            class="edit-button"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          <mat-paginator
            #completedEntriesPaginator
            [pageSize]="10"
            (page)="pageEvent = onPaginationChange($event)"
            [pageSizeOptions]="[10, 25, 50, 100]"
            [length]="totalDocs"
          ></mat-paginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
